*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.interface{
    max-width: 1280px;
    margin: auto;
}

/*===CABEÇALHO===*/
header{
    padding: 50px 6%;
}


